In [4]:
#1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
#the list.
def even_numbers_sum(lst):
    sum_even = 0
    for i in lst:
        if i % 2 == 0:
            sum_even += i
    return sum_even
num_list=[22,55,3,4,7,9,4,5]
even_numbers_sum(num_list)

30

In [5]:
#2. Create a Python function that accepts a string and returns the reverse of that string.
def return_reverse(string):
  return string[::-1]
return_reverse("How are You")

'uoY era woH'

In [7]:
#3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
#each number.
def num_sq(lst):
  lst1=[]
  for i in lst:
    lst1.append(i**2)
  return lst1
num_sq([2,3,4,5,6])

[4, 9, 16, 25, 36]

In [14]:
#4. Write a Python function that checks if a given number is prime or not from 1 to 200.
def check_prime(num):
  if num > 1:
    for i in range(2, num):
      if (num % i) == 0:
        print(num, "is not a prime number")
        break
    else:
      print(num, "is a prime number")
check_prime(31)

31 is a prime number

In [25]:
#5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
#terms.
def fib(n):
  a=0
  b=1
  for i in range(n):
    yield a
    a,b=b,a+b
range1=fib(10)
next(range1)

0

In [26]:
next(range1)

1

In [27]:
next(range1)

1

In [28]:
next(range1)

2

In [29]:
next(range1)

3

In [30]:
next(range1)

5

In [22]:
#6. Write a generator function in Python that yields the powers of 2 up to a given exponent.
def power_2(n):
  for i in range(n):
    yield 2**i
a=power_2(10)
next(a)

1

In [23]:
next(a)

2

In [24]:
next(a)

4

In [ ]:
#7. Implement a generator function that reads a file line by line and yields each line as a string.
def read_file(file_path):
  with open(file_path,'r') as file:
    for line in file:
      yield line

In [32]:
#8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.
def sort_tuple_list(lst):
  lst.sort(key=lambda lst:lst[1])
  return lst
sort_tuple_list([(1, 2), (4, -1), (9, 19), (12, -3)])

[(12, -3), (4, -1), (1, 2), (9, 19)]

In [33]:
#9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.
def temp_convert(celcius):
  F=(celcius*(9/5))+32
  return{f"Temp in Fahrenhit is {F}"}
Celcius_temp=[32,46,44,55]
list(map(temp_convert,Celcius_temp))

[{'Temp in Fahrenhit is 89.6'},
 {'Temp in Fahrenhit is 114.8'},
 {'Temp in Fahrenhit is 111.2'},
 {'Temp in Fahrenhit is 131.0'}]

In [34]:
#10. Create a Python program that uses `filter()` to remove all the vowels from a given string.
def remove_vowel(string):
  vowels=['a','e','i','o','u','A','E','I','O','U']
  for i in string:
    if i in vowels:
      string=string.replace(i,'')
  return string
str1= "How You Doin?"
list(filter(remove_vowel,str1))

['H', 'w', ' ', 'Y', ' ', 'D', 'n', '?']

In [35]:
#11
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]
order_total = list(map(lambda x: (x[0], x[2] * x[3]) if x[2] * x[3] >= 100 else (x[0], x[2] * x[3] + 10), orders))
print(order_total)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]